@use '../../Variables.scss' as *;

.k-chip {
  @extend .transition;
  @extend .cursor-pointer;
  @extend .font;

  // padding: y-axis x-axis
  padding: .4rem 1.2rem;
  width: min-content;
  color: $white;
  border-radius: .75rem;
  border-style: none;
}

.k-chip--primary {
  background-color: $primary;
  &:hover {
    background-color: darken($primary, 5);
  }
}
.k-chip--warning {
  background-color: $warning;
  &:hover {
    background-color: darken($warning, 5);
  }
}
.k-chip--info {
  background-color: $info;
  &:hover {
    background-color: darken($info, 5);
  }
}
.k-chip--error {
  background-color: $error;
  &:hover {
    background-color: darken($error, 5);
  }
}
.k-chip--black {
  background-color: $black;
  &:hover {
    background-color: darken($black, 5);
  }
}
.k-chip--white {
  background-color: $white;
  color: $black;
  border: 1px solid $black;
  &:hover {
    background-color: darken($white, 5);
  }
}
