@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary: #007bff;
$warning: #ffc107;
$info: #17a2b8;
$error: #dc3545;
$black: #343a40;
$white: #ffffff;

.transition {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.cursor-pointer {
  cursor: pointer;
}

.font {
  font-family: 'Roboto', sans-serif;
}
